<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <script src="/static/js/triggerNav.js"></script>
    <title>Home automation | {{ status }} </title>
</head>

<body>
    {% extends "base_layout.html" %}
    {% block content %}
    <div class="mt-[78px] md:mt-20 lg:mt-[90px] py-16 bg-white">
        <p class="text-lg text-center">Error {{status}} | {{ message }} </p>
    </div>
    {% endblock %}
</body>

</html>